@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  overflow-x: hidden;
}

.ReactVirtualized__Table__row {
  width: 100% !important;
}

* {
  box-sizing: border-box;
}

#__next {
  height: 100%;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn.loading:before {
  margin-right: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  color: #667085;
  -webkit-text-fill-color: #667085;
  transition: background-color 5000s ease-in-out 0s;
}
