@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
}

.ReactVirtualized__Table__row {
  width: 100% !important;

  &:last-of-type {
    border: none;
  }
}

* {
  box-sizing: border-box;
}

#__next {
  height: 100%;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn.loading:before {
  margin-right: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #F9FAFB inset !important;
}
